.card {
    float: left;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.2);
    }
    .card:hover{
        box-shadow: 0 8px 16px 6px  rgba(0,0,0,0.2);

    }
    .img{
        height: 400px;
        width: 300px;
    }
    hr {
        height: 1px;
        color: #123455;
        background-color: #123455;
        border: none;
    }